<div layout="vertical">
    <md-content layout="column">
        <md-tabs md-selected="selectedIndex" md-border-bottom>
            <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled" label="{{tab.name}}">
                <div class="tab" style="padding: 25px; text-align: left;">
                    <!-- <div ng-bind="tab.content"></div> -->
                    <div></div>
                    <br/>
                    <md-list layout="column">
                        <md-toolbar md-scroll-shrink>
                            <div class="md-toolbar-tools">
                                <h3>
                                 <span>{{feedHeading}}</span>
                                </h3>
                                <a ng-href="{{link}}">
                                    <svg class="openOut" xmlns="http://www.w3.org/2000/svg" width="30" height="48" viewBox="0 0 48 48">
                                        <path d="M38 38H10V10h14V6H10c-2.21 0-4 1.79-4 4v28c0 2.21 1.79 4 4 4h28c2.21 0 4-1.79 4-4V24h-4v14zM28 6v4h7.17L15.51 29.66l2.83 2.83L38 12.83V20h4V6H28z" />
                                </a>
                                </svg>
                            </div>
                        </md-toolbar>
                        <md-list-item class="md-3-line" ng-repeat="(key, value) in feedEntries">
                            <md-card class="card" ng-click="active = !active" class="md-list-item-text">
                                <h3 layout-align="space-around">{{ value.title }}</h3>
                                <div ng-show="active" class="entry-content">
                                    <p>{{value.contentSnippet}}</p>
                                    <p>{{value.publishedDate}}</p>
                                </div>
                            </md-card>
                        </md-list-item>
                        </md-divider>
                    </md-list>
                </div>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
