<div layout="vertical">
    <md-content layout="column">
        <md-tabs md-selected="selectedIndex" md-border-bottom>
            <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled" label="{{tab.name}}" md-on-select="changeFeed(tab.source)">
                <div class="tab" style="padding: 25px; text-align: left;">
                    <div></div>
                    <br/>
                    <md-list layout="column">
                        <md-toolbar md-scroll-shrink>
                            <div class="md-toolbar-tools">
                                <h3>
                                 <span>{{feedHeading}}</span>
                                </h3>
                            </div>
                        </md-toolbar>
                        <md-list-item class="md-3-line" ng-repeat="(key, value) in feedEntries">
                            <md-card class="card" ng-click="active = !active" class="md-list-item-text">
                                <h3 layout-align="space-around">{{ value.title }}</h3>
                                <div ng-show="active" class="entry-content">
                                    <p>{{value.contentSnippet}}</p>
                                    <p>{{value.publishedDate}}</p>
                                </div>
                            </md-card>
                        </md-list-item>
                        </md-divider>
                    </md-list>
                </div>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
