<md-card ng-show="category.showfull" ng-repeat="category in categories" ng-class="{ 'active' : category.active == true }" ng-click="expand(category)">
    <a ng-href="#/categories/{{category.title}}">
        <div class="caption">
            <h3>{{category.title}}</h3>
            <a ng-href="#/">
                <svg ng-show="category.active == true" ng-click="collapse(category); $event.stopPropagation()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z" />
                    <path d="M0 0h24v24h-24z" fill="none" />
                </svg>
            </a>
            <p>{{category.description}}</p>
            <p><a ng-href="{{awesomeThing.url}}">{{awesomeThing.url}}</a></p>
            <categoryDetail></categoryDetail>
        </div>
    </a>
    </div>
</md-card>
